
body {
    background-color: #2E6F40;
}
h1, ul {
    text-align: center;
    padding: 8px;
    margin: 16px auto;
    background-color: #CFFFDC;
    color: #253D2C;
}

ul {
    text-align: left;
    margin:16px 16px;
}

.recipes {
    padding: 8px;
    margin: 8px;
    display: inline-block;
    border: #253D2C solid;
}

